Serie9/.idea/.name
Serie9/.idea/encodings.xml
Serie9/.idea/misc.xml
Serie9/.idea/modules.xml
Serie9/.idea/Serie9.iml
Serie9/.idea/sqldialects.xml
Serie9/.idea/vcs.xml
Serie9/.idea/workspace.xml
Serie9/.idea/scopes/scope_settings.xml
*.orig
BananaFlux/branch/V2/config.php