@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
    font-family : "Calibri";

}
h1,h2,h3,p{
    font-family: Century Gothic, sans-serif;
}

p{
	font-size:16px;
	letter-spacing:0px;
	line-height:24px;
	margin:0px;
	padding:0px;
}

/**STRUCTURE PAGE**/

#headbar{
	width: 100%;
	height: 50px;
	background: #fff760;
}

#headbar h1{
	margin: 0;
	padding: 0;
	padding-top: 4px;
}

#headbar-left {
    float: left;
    width: 70%;
}

#headbar-right {
    /*text-align: right;*/
    float: left;
    width: 30%;
}

#searchbar{
	width: 100%;
}

#searchbar-input{
	height: 40px;
	width: 50%;
	text-align: center;
}

#searchbar-button{
	display: none;
}

#navbar {
	list-style: none;
	position: relative;
	display: inline-table;
}

#navbar:after
{
    content: ""; clear: both; display: block;
}

#navbar ul
{
	display: none;
}

#navbar li
{
	float: right;
   	list-style: none; 
    width: 150px;
}

#navbar li:hover > ul
{
    display: block;
}

#navbar li:hover
{
    background: #4b545f;
	background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}

#navbar li:hover a {
    color: #fff;
}
	
#navbar li a {
    display: block; 
    color: #757575; 
    text-decoration: none;
}

#navbar ul {
	background: #5f6975; 
    border-radius: 0px; 
    padding: 0;
	position: absolute; 
    top: 100%;
}

#navbar ul li {
    float: none; 
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;
}

#navbar ul li a
{
    padding: 5px 10px;
    color: #fff;
}	

#navbar ul li a:hover
{
    background: #4b545f;
}

#headbar img { 
    height: 50px;
    border: 1px dashed #DDD;
    padding: 5px;
    background-color: #F8F8F8;
    margin : 10px;
}

#headfilters{
	width: 100%;
	height: 10px;
	background-color: #dec8c8;
	
	overflow: hidden;
}

/*Volet*/
#leftFlap{
	position: absolute;

	/*Interaction JS*/
	left : -220px;
	top: 50px;
	
	width: 250px;
	height: 100px;
	
	overflow: hidden;
	
	padding: 0px;
	margin: 0px;
	
}
#leftFlap_Content{
	height: 100%;
	
	background-color: white;
	display: inline-block;
	vertical-align: top;
	width: 220px; 
	
	-webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
	
	
	padding-right: 0px;
	margin-right: -4px;/*TODO : Sale marge droite de 4 px incompérhenssible*/
	
}

#leftFlap_Content h1{
	margin-top: 0px;
	font-size: 20px;
	text-align: center;
	background-color: #dbdbdb;
	line-height: 50px;
	
}

#leftFlap_Content h2{
	margin-top: 0px;
	font-size: 15px;
	text-align: center;
	background-color: #dbdbdb;
	margin-top: 5px;
	line-height: 30px;
	
}

#leftFlap_Bouton{

	margin-top: 50px;
	cursor: pointer;
	padding-left: 0px;
	margin-left: 0px;
	display: inline-block;
	
	
	background-color: red;
	
	-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.5);
	box-shadow: 3px 0 3px 0 rgba(0,0,0,0.5);
	
	width: 30px;
	height: 100px;
	}

#leftFlap_Bouton p{
	margin: 0px;
	margin-top:48px;
	padding: 0px;
	
	color: white;
	font-weight: bold;
            
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
	
.flux, .dossier{
	width: 100%;
	background-color: #e9e9e9;
	margin-top: 5px;
	
	cursor: pointer;
}
.flux:active{
	background-color: #b4b4b4;
}
.dossierHead{
	width: 100%;
	background-color: #dbdbdb;
}

.dossierHead:active{
	background-color: #b4b4b4;
}

.control_elementLeftFlap{
	float: right;
	margin-right: 5px;
}
.suppr, .edit, .open{
	margin-left: 3px;
	margin-top: 5px;
}

.idflux_hidden{
	display: none;
}

.flux p, .dossierHead p{
	padding-left: 5px;
	display: inline-block;
}

.deleteFolder { 
    
}

.editFolder { }

.iddossier_hidden{
	display: none;
}
.dossierHead p{
	font-weight: bold;
}

#leftFlap_Content .dossier{
	
}

#articles{
	width: auto;
	
	/*Interaction JS*/
	padding-left: 10px;
}

.blocend{
	clear: both;
}

/*ARTICLES*/

.article {
	width: 300px;
	height: 250px;
	margin: 5px;
	float: left;
	
	-webkit-box-shadow: 0 1px 2px 0 #666666;
	box-shadow: 0 1px 2px 0 #666666;

	overflow: hidden;
}
.article_head{
	padding: 5px;
	
	background: #f2f2f2; /* Old browsers */
	background: -moz-linear-gradient(top, #f2f2f2 0%, #e0e0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f2f2f2 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f2f2f2 0%,#e0e0e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f2f2f2 0%,#e0e0e0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f2f2f2 0%,#e0e0e0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e0e0e0',GradientType=0 );
}
.article_image{
}

.article_image img{
	width: 100%;
}
.article_description{
	padding: 5px;
	margin:50px;
}

.article h1{
	margin:0px;
	text-align: center;
	font-size: 16px;
}

/* BOX D'INFORMATIONS */

.informationBox { 
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 2;
    overflow: hidden; 
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
    
    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-50px);
    -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}

.info { 
    background: #fde073;
}

.warning {
    background: #C00000;
}


@-webkit-keyframes slideDown 
{
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}

@-moz-keyframes slideDown 
{
    0%, 100% { -moz-transform: translateY(-50px); }
    10%, 90% { -moz-transform: translateY(0px); }
}

/*PROFIL*/

#profil { 
    margin-left : auto;
    margin-right : auto;
    background-color : #FFFFFF;
    
    -webkit-box-shadow: 0 0 5px 1px #ADADAD;
    box-shadow: 0 0 5px 1px #ADADAD;
    
    width : 70%;
    overflow: auto;
}

#profil h1 {

    text-align : center;
    text-transform: uppercase;
}

#profil .image {  
    border: 1px dashed #DDD;
    padding: 5px;
    background-color: #F8F8F8;
    float: right;
    margin : 10px;
}

#profil .text { 
    margin : 10px;
}

#profil .buttonSubmit {
    text-align : center;
       
}

#profil .editButton {
    align: right;
    width: 20px;
    height: 20px;
    background: url("http://www.lastrose.com/media/iconmonstr-edit-10-icon-300x300.png");
}

#profil .formContent {
    display: table-cell;
}

#profil .formEdit {
    display: none;
}

#profil .formEditRow { 
    display : none;   
}

#profil .inputText {
    width  : 200px;
}

/* FORMULAIRES */

input[type=text]
{
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  width:200px;
  min-height: 28px;
  padding: 4px 20px 4px 8px;
  font-size: 12px;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

input[type=text]:focus
{
  border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 0 5px rgba(81,167,232,0.5);
  outline: none;
}

input[type=password]
{
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  width:200px;
  min-height: 28px;
  padding: 4px 20px 4px 8px;
  font-size: 12px;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

input[type=password]:focus
{
  border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 0 5px rgba(81,167,232,0.5);
  outline: none;
}

/* POPUP */
#fade { 
/*--Masque opaque noir de fond--*/
	display: none; /*--masqué par défaut--*/
	background: #494949;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 99;
}
.popup_block{
	display: none; /*--masqué par défaut--*/
	background: #fff;
	padding: 0px;
	border: none;
	float: left;
	font-size: 0.9em;
	position: fixed;
	top: 100px; left: 50%;
	z-index: 99999;
	/*--Les différentes définitions de Box Shadow en CSS3--*/
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4); 
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	overflow-y:auto;
}

.popup_content{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

/*--Gérer la position fixed pour IE6--*/
*html #fade {
	position: absolute;
}
*html .popup_block {
	position: absolute;
}

.inputTextStyle{
	width: 100%;
}

/**Popups**/
.popup_block h1{
	margin-top: 0px;
	font-size: 20px;
	text-align: center;
	background-color: #dbdbdb;
	line-height: 50px;
}
.popup_block h2{
	margin-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
	background-color: #e9e9e9;
	line-height: 30px;
}

/**BOUTON**/
.boutonStyle{
	width:100%;
	height:30px;
	margin:0px;
	background-color:#b3b3b3;
	text-align:center;
	padding-top:5px;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#FFF;
	
	margin-top: 5px;
}

.boutonStyle:hover{
	background-color:#707070;
	cursor:pointer;
}
.addFlux{
	margin-top: 5px;
	padding-top:0px;
	padding-bottom: 0px;
	height:25px;
	font-size:15px;
}
