@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
    font-family : "Calibri";

}
h1,h2,h3,p{
    font-family: Century Gothic, sans-serif;
}

p{
	font-size:16px;
	letter-spacing:0px;
	line-height:24px;
	margin:0px;
	padding:0px;
}

/**STRUCTURE PAGE**/
#headbar{
	width: 100%;
	height: 50px;
	background: #ffd426;
}

#headbar h1{
	margin: 0;
	padding: 0;
	font-size:30px;
	letter-spacing:0px;
	line-height:50px;
	vertical-align: top;
	
	/*text-shadow: 0 0px 2px #000000;*/
	
	display: inline-block;
	color: #3f3f3f;
}
#headbar img{
	display: inline-block;
}


#headbar-left {
    float: left;
    width: 70%;
}

#headbar-right {
    text-align: right;
    float: left;
    width: 30%;
}

#searchbar{
	width: 100%;
}

#searchbar-input{
	height: 40px;
	width: 50%;
	text-align: center;
}

#searchbar-button{
	display: none;
}

#searchbar-result-table{
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border:solid black 1px;*/
}

#searchbar-search-results{
	margin-left: auto;
    margin-right: auto;
}

#searchbar-search-td{
	
}

#addFluxPopup-searchbar-input{
	height: 40px;
	width: 90%;
	text-align: center;
}

#headbar img { 
    height: 30px;
    margin : 10px;
}

/* TAGS */

#headfilters{
	width: 100%;
	height: 50px;
	background-color: #E1E1E1;
	overflow: hidden;
}

.tagBox {
  background: #fffa94;
  background-image: -webkit-linear-gradient(top, #fffa94, #ffe53d);
  background-image: -moz-linear-gradient(top, #fffa94, #ffe53d);
  background-image: -ms-linear-gradient(top, #fffa94, #ffe53d);
  background-image: -o-linear-gradient(top, #fffa94, #ffe53d);
  background-image: linear-gradient(to bottom, #fffa94, #ffe53d);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #6b6b6b;
  font-size: 9px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;

    width:auto;
    float: left;
    margin: 2px;
}

.tagBox:hover {
  background: #fada3c;
  background-image: -webkit-linear-gradient(top, #fada3c, #ffdc4f);
  background-image: -moz-linear-gradient(top, #fada3c, #ffdc4f);
  background-image: -ms-linear-gradient(top, #fada3c, #ffdc4f);
  background-image: -o-linear-gradient(top, #fada3c, #ffdc4f);
  background-image: linear-gradient(to bottom, #fada3c, #ffdc4f);
  text-decoration: none;
}

.tagName {
    
}

.deleteTag { 
    margin-left : 5px;
}

/*Volet*/
#leftFlap{
	position: absolute;

	/*Interaction JS*/
	left : -220px;
	top: 50px;
	
	width: 250px;
	height: 100px;
	
	overflow: hidden;
	
	padding: 0px;
	margin: 0px;
	
}
#leftFlap_Content{
	height: 100%;
	
	background-color: white;
	display: inline-block;
	vertical-align: top;
	width: 220px; 
	
	-webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
	
	
	padding-right: 0px;
	margin-right: -4px;/*TODO : Sale marge droite de 4 px incompérhenssible*/
	
}

#leftFlap_Content h1{
	margin-top: 0px;
	font-size: 20px;
	text-align: center;
	background-color: #dbdbdb;
	line-height: 50px;
	
}

#leftFlap_Content h2{

	font-size: 15px;
	text-align: center;
	background-color: #dbdbdb;
	margin-top: 15px;
	line-height: 30px;
	
}

#leftFlap_Bouton{

	margin-top: 50px;
	cursor: pointer;
	padding-left: 0px;
	margin-left: 0px;
	display: inline-block;
	
	
	background-color: red;
	
	-webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.5);
	box-shadow: 3px 0 3px 0 rgba(0,0,0,0.5);
	
	width: 30px;
	height: 100px;
	}

#leftFlap_Bouton p{
	margin: 0px;
	margin-top:48px;
	padding: 0px;
	
	color: white;
	font-weight: bold;
            
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
	
.flux, .dossier{
	width: 100%;
	background-color: #e9e9e9;
	margin-top: 5px;
	
	cursor: pointer;
}
.flux:active{
	background-color: #b4b4b4;
}
.dossierHead{
	width: 100%;
	background-color: #dbdbdb;
}

.dossierHead:active{
	background-color: #b4b4b4;
}

.control_elementLeftFlap{
	float: right;
	margin-right: 5px;
}
.suppr, .edit, .open{
	margin-left: 3px;
	margin-top: 5px;
}

.idflux_hidden{
	display: none;
}

.flux p, .dossierHead p{
	padding-left: 5px;
	display: inline-block;
}

.deleteFolder { 
    
}

.editFolder { }

.iddossier_hidden{
	display: none;
}
.dossierHead p{
	font-weight: bold;
}

#leftFlap_Content .dossier{
	
}

#articles{
	width: auto;
	
	/*Interaction JS*/
	padding-left: 10px;
}

.blocend{
	clear: both;
}

/*ARTICLES V2*/

.article{
	font-family: arial;
	
	display:inline-block;
	vertical-align: top;
	box-sizing: border-box; 
	
	position: relative;
	overflow: hidden;
	width: 340px;
	
	background-color: #fff;
	box-shadow: 0px 0px 20px rgba(0,0,0, 0.1);
	
	transition: box-shadow 0.5s;
	
	margin: 6px;
}

.article:hover{
	box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
}

.article a{
  	color:inherit;
  	text-decoration: none;
}

.article_date{
	box-sizing: border-box;
	
	position: absolute;
	top: 15px;
	right: 15px;

	width: 55px;
	height: 55px;
	padding-top: 15px;

	color: #FFF;
	text-align: center;
	line-height: 13px;
	font-weight: bold;

	background-color: #d2d500;
	border-radius: 50%;
	border-bottom-left-radius: 50%
}

.article_date_day{
	display: block;
	font-size: 14px;
}
.article_date_month{
	display: block;
	font-size: 10px;
	text-transform: uppercase;
}

.article_thumb{
	height: 235px;
	overflow: hidden;
	background-color: #000;
	transition: height 0.5s;
}
.article_thumb img{
	height: 235px;
	display: block;
	opacity: 1;
	transition: opacity 0.5s;
}
.article:hover .article_thumb img{
	opacity: 0.6;
}
.article:hover .article_thumb{
    height: 120px;
}
	
.article_body{
	box-sizing: border-box; 
	position: relative;
	padding: 20px;
	height: 165px;
	transition: height 0.5s;
}
.article:hover .article_body{ 
	height: 280px;
}

.article_description{

	
	margin: 0;
	padding: 0;
	
	color: #666C74;
	font-size: 14px;
	line-height: 20px;
	
	text-align: top;
	
	opacity: 0;
	transition: opacity 0.4s;
	transition-delay: 0;
}
.article_description p{
	margin-bottom: 5px;
}

.article:hover .article_description{
    opacity: 1;
    transition-delay: 0.1s;
}
  
.article_footer{
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;

  font-size: 11px;
  color: #A3A9AB;

}

.article_title{
  font-family: Century Gothic, arial;
  margin: 0;
  padding: 0 0 10px 0;

  font-size: 18px;
  color: #000;
  font-weight: bold;

}

.article_categories {
  position: absolute;
  left: 0;
  top: -24px;
  height: 24px;
  padding: 0 15px;
  color: #FFF;
  font-size: 11px;
  line-height: 25px;
  text-transform: uppercase;
  
  overflow: hidden;
  
  vertical-align: bottom;		  
}
.article_category{
	
	vertical-align: bottom;
	background-color: #d2d500;
	margin-right: 2px;
	padding: 6px;
}
.article_description_category
{
	font-size: 11px;
	line-height: 0px;
	padding: 0px;
	color: #A3A9AB;
}

/* BOX D'INFORMATIONS */

.informationBox { 
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 2;
    overflow: hidden; 
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
    
    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-50px);
    -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}

.info { 
    background: #fde073;
}

.warning {
    background: #C00000;
}


@-webkit-keyframes slideDown 
{
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}

@-moz-keyframes slideDown 
{
    0%, 100% { -moz-transform: translateY(-50px); }
    10%, 90% { -moz-transform: translateY(0px); }
}

/*PROFIL*/

.imageProfile {  
    border: 1px dashed #DDD;
    padding: 5px;
    background-color: #F8F8F8;
    float: right;
    margin : 10px;
}

/* FORMULAIRES */

input[type=text]
{
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  width:200px;
  min-height: 28px;
  padding: 4px 20px 4px 8px;
  font-size: 12px;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

input[type=text]:focus
{
  border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 0 5px rgba(81,167,232,0.5);
  outline: none;
}

input[type=password]
{
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  width:200px;
  min-height: 28px;
  padding: 4px 20px 4px 8px;
  font-size: 12px;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

input[type=password]:focus
{
  border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 0 5px rgba(81,167,232,0.5);
  outline: none;
}

/* POPUP */
#fade { 
/*--Masque opaque noir de fond--*/
	display: none; /*--masqué par défaut--*/
	background: #494949;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 99;
}
.popup_block{
	display: none; /*--masqué par défaut--*/
	background: #fff;
	padding: 0px;
	border: none;
	float: left;
	font-size: 0.9em;
	position: fixed;
	top: 100px; left: 50%;
	z-index: 99999;
	/*--Les différentes définitions de Box Shadow en CSS3--*/
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4); 
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	overflow-y:auto;
}

.popup_content{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

/*--Gérer la position fixed pour IE6--*/
*html #fade {
	position: absolute;
}
*html .popup_block {
	position: absolute;
}

.inputTextStyle{
	width: 100%;
}

/**Popups**/
.popup_block h1{
	margin-top: 0px;
	font-size: 20px;
	text-align: center;
	background-color: #dbdbdb;
	line-height: 50px;
}
.popup_block h2{
	margin-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
	background-color: #e9e9e9;
	line-height: 30px;
}

/**BOUTON**/
.boutonStyle{
	width:100%;
	height:30px;
	margin:0px;
	background-color:#b3b3b3;
	text-align:center;
	padding-top:5px;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#FFF;
	
	margin-top: 5px;
}

.boutonStyle:hover{
	background-color:#707070;
	cursor:pointer;
}
.addFlux, .addFolder{
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top:0px;
	padding-bottom: 0px;
	height:25px;
	font-size:15px;
}

#dossiers_user{
	margin-bottom: 15px;
}


/**popupAddFlux**/
#box_select_flux{
	max-height: 300px;
	overflow-y: scroll;

}
#box_select_flux .select_flux{
	margin: 2px;
	margin-bottom: 10px;
	background-color: #e2e2e2;
	padding: 5px;
	cursor:
}
#box_select_flux .select_flux:hover{
	background-color: #d1d1d1;
	cursor:pointer;
}
#box_select_flux .select_flux h1{
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	text-align: left;
	font-size: 16px;
	line-height: 18px;
}
#box_select_flux .select_flux p{
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	font-size: 12px;
	line-height: 15px;
}
#box_select_flux .select_flux .hidden_idflux, #popupSelectDossier_id{
	display: none;
}

.folder_radioInput, .tags_checkboxInput{
	margin-left: 10px;
	margin-right: 5px;
}

