@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
}
h1,h2,h3,p{
    font-family: Century Gothic, sans-serif;
}

p{
	font-size:16px;
	letter-spacing:0px;
	line-height:24px;
	margin:0px;
	padding:0px;
}

/**STRUCTURE PAGE**/

#headbar{
	width: 100%;
	height: 50px;
	
	background: #fff760;
}
#headbar h1{
	margin: 0;
	padding: 0;
	padding-top: 4px;
}

#contents{
	position: relative;
	
}
#leftFlap{
	float: left;
	width: 0px;
	height: 100%;
	background-color: blue;
	overflow: hidden;
	
}
#articles{
	float: left;
	width: auto;
}
.blocend{
    clear:both;
}

/*ARTICLES**/
.article{
	width: 300px;
	height: 250px;
	margin: 5px;

	-webkit-box-shadow: 0 1px 2px 0 #666666;
	box-shadow: 0 1px 2px 0 #666666;
}
.article_head{
	background: #f2f2f2; /* Old browsers */
	background: -moz-linear-gradient(top, #f2f2f2 0%, #e0e0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f2f2f2 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f2f2f2 0%,#e0e0e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f2f2f2 0%,#e0e0e0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f2f2f2 0%,#e0e0e0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e0e0e0',GradientType=0 );
}
.article_image{

}
.article_description{

}

.article h1{
	margin:0px;
	text-align: center;
	font-size: 25px;
}


