body { 
    font-family : "Calibri";
    
}

.informationBox { 
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 2;
    overflow: hidden; 
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}

.info { 
    background: #fde073;
}

.warning {
    background: #C00000;
}

.cssanimations.csstransforms .informationBox {
        -webkit-transform: translateY(-50px);
        -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
        -moz-transform:    translateY(-50px);
        -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}

@-webkit-keyframes slideDown 
{
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}

@-moz-keyframes slideDown 
{
    0%, 100% { -moz-transform: translateY(-50px); }
    10%, 90% { -moz-transform: translateY(0px); }
}



#profil { 
    margin-left : auto;
    margin-right : auto;
    background-color : #FFFFFF;
    
    -webkit-box-shadow: 0 0 5px 1px #ADADAD;
    box-shadow: 0 0 5px 1px #ADADAD;
    
    width : 70%;
    overflow: auto;
}

#profil h1 {

    text-align : center;
    text-transform: uppercase;
}

#profil .image { 
    
    border: 1px dashed #DDD;
    padding: 5px;
    background-color: #F8F8F8;
    float: right;
    margin : 10px;
}

#profil .text { 
    margin : 10px;
}

#profil .buttonSubmit {
    text-align : center;
       
}

#profil .editButton {
    align: right;
    width: 20px;
    height: 20px;
    background: url("http://www.lastrose.com/media/iconmonstr-edit-10-icon-300x300.png");
}

#profil .formContent {
    display: table-cell;
}

#profil .formEdit {
    display: none;
}

#profil .formEditRow { 
    display : none;   
}

.inputText {
    width  : 200px;
}